:root {
  --color-1: #b6d2d4;
  --color-2: #f3f5d6;
  --color-3: #60ab9c;
  --color-4: #2f394b;
  --color-5: #70ff86;
  --color-6: #fff;
  --color-7: #ff0051;
  --color-8: #ffbe0a;
  --color-9: #ff8e00;
  --color-10: #536483;
  --color-11: #242b39;
  --color-12: #68b8a8;
  --color-13: #5ca395;
  --color-14: #e5e7c9;
  --color-15: #ced0b5;
}
